<p>list-pokemon works!</p>
<div class="section">
    <div>
        <button class="button" (click)="llenarDataSelect(1)">Primera Generación</button>
        <button class="button" (click)="llenarDataSelect(2)">Segura Generación</button>
    </div>

    <div>
        <div class="listPokemon" >
            <div class="listPokemon card item" *ngFor="let element of data.results, let i = index">
                <img [src]="imgPokemon(i+1+getInitialNumber())">
                <span>{{element.name}}</span>
            </div>
        </div>
    </div>
</div>