<p>list-pokemon works!</p>
<div class="section">
<!--     <div>
        <button class="button" (click)="llenarDataSelect(1)">Primera Generación</button>
        <button class="button" (click)="llenarDataSelect(2)">Segura Generación</button>
    </div> -->

    <div>
        <div class="listPokemon" >
            <div class="listPokemon card item" *ngFor="let pokemon of pokemons | paginate:{ itemsPerPage:5, currentPage:p}, let i = index">
                <span>{{pokemon.id}}</span>
                <span>{{pokemon.name}}</span>
                <!-- <span>{{pokemon.sprites.other['official-artwork'].front_default | json}}</span> -->
                <img [src]="pokemon.sprites.other['official-artwork'].front_default">
                <p>H:{{pokemon.height}}</p>
                <p>W:{{pokemon.weight}}</p>
                <div *ngFor="let type of pokemon.types">
                    <div>{{type.type.name}}</div>
                </div>
            </div>
           
            
        </div>
        <!-- <p>{{getPokemon('https://pokeapi.co/api/v2/pokemon/1')}}</p> -->
    </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>